<?xml version="1.0"?>
<config>
    <modules>
        <Trustpilot_Reviews>
            <version>1.0.20</version>
        </Trustpilot_Reviews>
    </modules>
    <global>
        <blocks>
            <trustpilot>
                <class>Trustpilot_Reviews_Block</class>
            </trustpilot>
        </blocks>
        <helpers>
            <trustpilot>
                <class>Trustpilot_Reviews_Helper</class>
            </trustpilot>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <trustpilot>
                    <file>trustpilot.xml</file>
                </trustpilot>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <trustpilot>
                                            <title>Trustpilot Module Section</title>
                                        </trustpilot>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <trustpilot>
            <trustpilot_general_group>
                <custom_order_status>complete</custom_order_status>
            </trustpilot_general_group>
        </trustpilot>
    </default>
</config>